@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background span {
    width: 14vmin;
    height: 14vmin;
    border-radius: 14vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 47;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #a3a3a3;
    top: 73%;
    left: 22%;
    animation-duration: 13s;
    animation-delay: -7s;
    transform-origin: 15vw -8vh;
    box-shadow: -28vmin 0 4.086721187727459vmin currentColor;
}
.background span:nth-child(1) {
    color: #5f6360;
    top: 53%;
    left: 80%;
    animation-duration: 31s;
    animation-delay: -7s;
    transform-origin: 13vw -14vh;
    box-shadow: 28vmin 0 3.898249456569899vmin currentColor;
}
.background span:nth-child(2) {
    color: #5f6360;
    top: 84%;
    left: 77%;
    animation-duration: 14s;
    animation-delay: -7s;
    transform-origin: 5vw 10vh;
    box-shadow: -28vmin 0 4.052829822201559vmin currentColor;
}
.background span:nth-child(3) {
    color: #404040;
    top: 6%;
    left: 33%;
    animation-duration: 23s;
    animation-delay: -17s;
    transform-origin: 19vw -17vh;
    box-shadow: 28vmin 0 4.361175548794988vmin currentColor;
}
.background span:nth-child(4) {
    color: #a3a3a3;
    top: 32%;
    left: 48%;
    animation-duration: 12s;
    animation-delay: -21s;
    transform-origin: 13vw 23vh;
    box-shadow: 28vmin 0 3.8225887994142878vmin currentColor;
}
.background span:nth-child(5) {
    color: #5f6360;
    top: 9%;
    left: 81%;
    animation-duration: 10s;
    animation-delay: -11s;
    transform-origin: 18vw -11vh;
    box-shadow: 28vmin 0 3.539362142129169vmin currentColor;
}
.background span:nth-child(6) {
    color: #a3a3a3;
    top: 17%;
    left: 26%;
    animation-duration: 22s;
    animation-delay: -2s;
    transform-origin: 20vw 10vh;
    box-shadow: -28vmin 0 4.478672106309352vmin currentColor;
}
.background span:nth-child(7) {
    color: #a3a3a3;
    top: 27%;
    left: 11%;
    animation-duration: 13s;
    animation-delay: -30s;
    transform-origin: 17vw 4vh;
    box-shadow: -28vmin 0 3.60457806191778vmin currentColor;
}
.background span:nth-child(8) {
    color: #a3a3a3;
    top: 18%;
    left: 91%;
    animation-duration: 18s;
    animation-delay: -19s;
    transform-origin: 14vw 21vh;
    box-shadow: 28vmin 0 4.415564629884998vmin currentColor;
}
.background span:nth-child(9) {
    color: #a3a3a3;
    top: 58%;
    left: 42%;
    animation-duration: 32s;
    animation-delay: -26s;
    transform-origin: 19vw -18vh;
    box-shadow: -28vmin 0 4.418471593674695vmin currentColor;
}
.background span:nth-child(10) {
    color: #5f6360;
    top: 18%;
    left: 100%;
    animation-duration: 13s;
    animation-delay: -15s;
    transform-origin: 5vw 22vh;
    box-shadow: 28vmin 0 4.099575028631596vmin currentColor;
}
.background span:nth-child(11) {
    color: #404040;
    top: 9%;
    left: 6%;
    animation-duration: 11s;
    animation-delay: -27s;
    transform-origin: 22vw -4vh;
    box-shadow: 28vmin 0 4.310228570166641vmin currentColor;
}
.background span:nth-child(12) {
    color: #a3a3a3;
    top: 93%;
    left: 99%;
    animation-duration: 13s;
    animation-delay: -17s;
    transform-origin: 15vw 20vh;
    box-shadow: 28vmin 0 3.6361438097957732vmin currentColor;
}
.background span:nth-child(13) {
    color: #404040;
    top: 20%;
    left: 3%;
    animation-duration: 23s;
    animation-delay: -18s;
    transform-origin: 2vw -12vh;
    box-shadow: -28vmin 0 3.8936254811670965vmin currentColor;
}
.background span:nth-child(14) {
    color: #a3a3a3;
    top: 43%;
    left: 3%;
    animation-duration: 11s;
    animation-delay: -29s;
    transform-origin: 0vw 20vh;
    box-shadow: 28vmin 0 4.332068597697871vmin currentColor;
}
.background span:nth-child(15) {
    color: #5f6360;
    top: 37%;
    left: 2%;
    animation-duration: 27s;
    animation-delay: -17s;
    transform-origin: -13vw -16vh;
    box-shadow: -28vmin 0 3.7914703303360606vmin currentColor;
}
.background span:nth-child(16) {
    color: #5f6360;
    top: 93%;
    left: 37%;
    animation-duration: 20s;
    animation-delay: -2s;
    transform-origin: 0vw 3vh;
    box-shadow: -28vmin 0 4.176907222749619vmin currentColor;
}
.background span:nth-child(17) {
    color: #404040;
    top: 46%;
    left: 18%;
    animation-duration: 16s;
    animation-delay: -19s;
    transform-origin: -16vw 17vh;
    box-shadow: -28vmin 0 4.362493889831878vmin currentColor;
}
.background span:nth-child(18) {
    color: #5f6360;
    top: 8%;
    left: 77%;
    animation-duration: 19s;
    animation-delay: -14s;
    transform-origin: 2vw 10vh;
    box-shadow: -28vmin 0 3.8589576995154684vmin currentColor;
}
.background span:nth-child(19) {
    color: #5f6360;
    top: 30%;
    left: 39%;
    animation-duration: 7s;
    animation-delay: -4s;
    transform-origin: 12vw -11vh;
    box-shadow: 28vmin 0 3.5051001292530937vmin currentColor;
}
.background span:nth-child(20) {
    color: #404040;
    top: 2%;
    left: 56%;
    animation-duration: 31s;
    animation-delay: -29s;
    transform-origin: 23vw -6vh;
    box-shadow: -28vmin 0 4.049475326885007vmin currentColor;
}
.background span:nth-child(21) {
    color: #a3a3a3;
    top: 82%;
    left: 85%;
    animation-duration: 15s;
    animation-delay: -21s;
    transform-origin: 11vw 8vh;
    box-shadow: -28vmin 0 3.6045810036755848vmin currentColor;
}
.background span:nth-child(22) {
    color: #5f6360;
    top: 5%;
    left: 85%;
    animation-duration: 32s;
    animation-delay: -9s;
    transform-origin: -13vw -4vh;
    box-shadow: -28vmin 0 3.777857791165742vmin currentColor;
}
.background span:nth-child(23) {
    color: #a3a3a3;
    top: 6%;
    left: 62%;
    animation-duration: 34s;
    animation-delay: -7s;
    transform-origin: -5vw -23vh;
    box-shadow: -28vmin 0 4.2288281752856225vmin currentColor;
}
